body {
    background-color: black;
    border: 0;
    margin: 0;
    padding: 0;
}

.postcard {
    background-color: white;
    height: 350px;
    margin: 40px auto;
    width: 600px;
}

.postcard .postcard-header {
    width: 100%;
    height: 80px;
}

.postcard .postcard-header .header {
    width: 50%;
    float: left;
}
.postcard .postcard-header .header h1 {
    float: left;
    margin: 20px;
}

.postcard .postcard-header .logo {
    width: 50%;
    float: right;
}

.postcard .postcard-header .logo img {
    height: 70px;
    margin: 5px 10px;
    float: right;
}


.postcard .postcard-body {
    width: 100%;
    height: 190px;
}

.postcard .postcard-body .postcard-column-left {
    width: 50%;
    height: 190px;
    float: left;
    background-color: aqua;
}

.postcard .postcard-body .postcard-column-left p {
    text-align: justify;
    margin: 10px 10px;
}

.postcard .postcard-body .postcard-column-right {
    width: 50%;
    height: 190px;
    float: right;
    text-align: center;
}

.postcard .postcard-body .postcard-column-right [type=text]{
    border: 0;
    margin: 5px;
    height: 30px;
    width: 90%;
    font-style: italic;
    border-bottom: 1px solid gray;
}